
/*Navigation Menu Styles */

#nav {
	height: 70px;
	left: 40px;
	right: 40px;
	background-color: white;
	position: fixed;
	border-bottom: 1px solid black;
	z-index: 5;
}

#nav .nav-content {
 position: absolute;
 left: 15px;
 right: 15px;
 bottom: 0;
 text-align: center;


}

#nav a {
	font-size: 25px;
	padding: 0 20px 0 20px;
	border-right: 1px solid black;
	margin: 20px 0 10px 0;
	color: #002a54

}

#nav a:last-child {
	border-right: none;
}





/* Footer Styles */

#footer {
	padding-bottom: 30px;
	position: relative;
}

#footer p:first-child {
	  text-align: center; 
}

#footer span {
	font-weight: bolder;
	font-style: italic;
}

#footer a {
	position: absolute;
	top: 0;
	right: 5px;
}