<div id="contact" >

  <div ng-include="'./views/nav.html'"></div>
  <div>
    <h1 style="font-family: 'arvo'; text-align: center;">Contact Us</h1>
    <p class="sub-header-text">If you have any questions, do not hesitate to ask. One of our volunteers will get back to you within 48-72 hours. If you're in need of Assistance, complete the form with the subject 'Assistance'. To be a Volunteer add the subject "Volunteer" and likewise for Information Request "Info Request" We will reach out to you. We look forward to meeting you! </p>
  </div>
  <div ng-include="'nav.html'"></div>
  <form class="form-inline" post="/mail">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" ng-model="mail.name" class="form-control" id="name" name="name" placeholder="Jane Doe" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" ng-model='mail.email' class="form-control" id="email" name="email" placeholder="John.Doe@example.com" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input  ng-model='mail.phone' class="form-control" id="phone" name="phone" placeholder="1(555)555-5555 or N/A" required>
    </div>
    <div class="form-group">
      <label for="Subject">Subject:</label>
      <input type="text" ng-model='mail.subject' class="form-control" name="subject" id="subject" placeholder="Volunteer/Assistance/Info Request" required>
    </div><br>
    <div class="form-group">
      <label for="content">Content:  </label>
      <textarea type="text" ng-model='mail.content' class="form-control" name="content" id="content" placeholder="Content" rows="10" cols="150"></textarea>
    </div>
    <!-- Should be Input with ng-submit. Making button with the idea of future data manipulation and response -->
    <button value="Send Message" ng-click="submit(mail)" class="btn btn-default btn-lg ">Send Message</button>
  </form>
  {{ response }}
</div>




