<div id="home">
  <!-- Uneeded Div Tag, was put here to keep template uniform -->
  <div class="Banner">

      <img src="img/qcAirBigPic.png" class="img-responsive">
      <h2>"To Build Community among Refugees, Immigrants, and Citizens of the Quad Cities"</h2>
  </div>

  <hr class="featurette-divider">

  <!-- Assistance Descripttion Section -->
  <h1 style="text-align: center;">  We Assist With:</h1>
  <h2 style="text-align: center; font-style: italic; font-size: 18px;">"A System that works"</h2>


  <div class="row services" style="margin-top: 50px;">

    <div class="col-lg-4">
      <img class="img-circle" id='use' src="img/understanding.png" alt=" World Image" width="140" height="140" >
      <h2 >Understanding</h2>
      <p>Its easy to feel overwhelmed or out of place when entering to a new country. We have many resources to help immigrants and refugees understand the culture of the United States. We also give opprotunity to our voulunteers to connect with people from different countries.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-circle" id='use' src="img/house.png" alt="House Image" width="140" height="140">
      <h2 >Housing &amp; Jobs</h2>
      <p>We help those attempting to settle in to find housing. Moving is hard enough -moving to another country is even harder. Through our programs we provide the <span style="font-style: italic; font-size: 17px; text-decoration: underline;">possibility</span> of an easier transition.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-circle" id="use" src="img/book.png" alt="Book Image" width="140" height="140" >
      <h2 >Education</h2>
      <p>We are confident in our ability to provide an avenue of study and/or education for those who are trying to adjust to living in the United States. This is not limited to highschool or college students.We cover a wide variety of education from language learning, to art (dancing, painting, sculpting, etc.) and more! </p>
    </div>

  </div>

<!-- End Assistance Destoption Section -->

<!-- START THE FEATURE Sections -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading" style="text-align: center;"> Volunteer <br><span class="text-muted">Experience the Cross-Cultural Enjoyment!</span></h2>
      <p class="lead">Our organization is <span>100% volunteer powered</span>. This means that everything that goes on in the organization is provided by someone who honestly wants to see people do well. Be that person. Volunteer today by filling out our Volunteer form. If your schedule is too hectic to volunteer but you still want to contribute, you can easily donate to QCAIR through our <a href="#/donate">"Donate"</a> page!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block"  style=" border-radius: 4px;" src="img/qcAirPic1.jpg" alt="qcAirPic1.jpg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette main-features">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading" style="text-align: center;" >Check Us Out! <span class="text-muted">See for Yourself</span></h2>
      <p class="lead">To find out whats's been going on at QCAIR please fill out our contact form with any questions so we can send you the information. Check out the <a href="#/progress">"News"</a> page for more!</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <a href="../news.zip" download="News/Strategic"><img style=" border-radius: 4px;" class="featurette-image img-responsive center-block" src="img/qcAirPic3.jpg" alt="Generic placeholder image"></a>
    </div>
  </div>
<!-- End of Feature Section -->
  <hr class="featurette-divider">

<!-- Start of Presidents Letter -->
  <div class="row featurette">
      
      <div class="block">
            <h2 class="featurette-heading" style="font-family: Arvo; text-align: center;">A Letter from our President</h2>
            <h3 class="text-muted"></h3>
            <p class="lead president-message" style="font-family: cantarell, cursive; ">Welcome to Quad Cities Alliance for Immigrants and Refugees (QCAIR)!

      In this day and age of fear of immigrants and refugees, we work to facilitate understanding of all

      cultures and peoples. Our mission statement is: “Assist Immigrants and Refugees intergrate into the

      Quad City community by advocating for immigrants and refugees and collaborating with appropriate

      service providers.

      We do this by first applying the principles of Asset Based Community Development (ABCD) by taking

      advantage of existing services provided by partner or community agencies. When we find a “gap” in

      services we work to fill that gap. Historically we have worked on housing, education efforts, assisting immigrant and refugess

      in obtaining a job, teaching about health issues and creating a friendly environment with our Positive

      interactions with Police (PIP) team. One of our new efforts, in conjunction with our partners is creating

      an “Honoring Us Citizenship” dinner. These dinners will honor those immigrant and refugees who have chosen to become US

      Citizens.

      If you are looking for a way to learn about immigrants and refugees or are interested in helping them tor

      learn the skills needed to become US citizens or members of our community, or providing assistance to

      immigrant and refugees, we invite you to fill out a volunteer form and submit it.

      Our structure includes a Board of Directors, a Board of Advisors, and Education Team and a

      Development Team. We are seeking individuals who are wanting to assist these groups as well as action

      teams under the Education and Development teams.

      Finally, we are always looking for donations to support our operations and projects. If you are interested

      in making a donation please click on the donate button, or send a contribution to QCAIR, 1800 3rd Ave,

      Rock Island Il 61201.

      I look forward to developing both QCAIR and our relationship as we go forward.<br>

      -<span style="font-weight: bold;">Grant Curtis</span>,<br>

      <span style="font-style: italic; font-size: 16px;">President<span><br>

      <span style="font-size: 16px;">QCAIR</span></p>
    </div>

  </div>

</div>


   