<div id="login">
    
    <h2>Please Sign In</h2>
    
    <label for="inputEmail" class="sr-only">Email address</label>
    
    <input placeholder="Username" class=" form-control" ng-model='admin.user' type="text">
    
    <label class="sr-only">Password</label>
    
    <input class="form-control" ng-model='admin.password' type="password" id="inputPassword"  placeholder="Password" required>

    <button class="btn btn-lg btn-default " ng-click='submitAdmin()' ng-disabled="!admin.user || !admin.password">Sign in</button>
        
    <p>{{response}}</p>    
      
     <a href="#/">Go To Homepage</a> 
  
</div>
