<div id="jobs">
	<h1 style="text-align: center; font-family: 'Nato';">Jobs/Employment Team</h1>
	<hr>
	<p>One area that Immigrants and Refugees have difficulty with is finding a job/employment. QCAIR has recognized this short coming and has created a job/employment team to assist with the securing of employment. This is a difficult issue for most immigrants and refugees as they frequently do not have references or a prior work history that can be verified. QCAIR has and is working to overcome these problems by becoming the reference for the immigrants and refugees while partnering with other agencies to teach them what to expect. A few of the agencies we have partnered with are Dress for Success, Rock Island Housing Authority, and the Quad Cities Times newspaper. These companies have assisted us in teaching a series workshops on subjects such as how to fill out a job application, how to write and present resumes, following with giving immigrants and refugees solid preparation by creating mock interviews to teach them how to speak and dress in an interview. </p>

	<p>QCAIR has undertaken a recent effort that has met with some success. We have partnered with local employers, such as hotels and small factories, to directly connect our clients and employers. One area that frequently works against immigrants and refugees, is when they don’t speak English. When we refer a client to a potential employer and our client doesn’t speak English, we provide an interpreter for the interview. We are currently looking for additional employers who are willing to participate in this program. In order for this to continue being successful, we are in need of volunteers. We need volunteers to meet with prospective employers, to identify what type of jobs they have and the type of work.</p>
	<hr>

	<div class="row job-images">
		<div class="col col-md-4" ><img style="width: 300px; height: 300px;" src="img/jobs1.jpg"></div>
		<div class="col col-md-4" ><img style="width: 300px; height: 300px;" src="img/jobs2.jpg"></div>
		<div class="col col-md-4" ><img style="width: 300px; height: 300px;" src="img/jobs3.jpg"></div>
	</div>
</div>